body {
	background-color: #62f442;
}

.jumbotron {
	text-align: center;
	margin-top: 20px;
	background-color: #42ebf4;
}

.panel-heading {
	background: #42ebf4;
	text-align: center;
	font-weight: bold;
}





